# Python
__pycache__/
*.py[cod]
*$py.class
v機能/
.env
venv/
ENV/
env.bak/
server.log

# Node
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
